<app-header></app-header>
<main class="min-h-screen container">
  <div class="w-full flex gap-4">
    <div class="pt-10 pr-20 border-r-[1px] border-slate-300">
      <ul class="space-y-4">
        <li class="whitespace-nowrap">Woman's Fashion</li>
        <li class="whitespace-nowrap">Men's Fashion</li>
        <li class="whitespace-nowrap">Electronic</li>
        <li class="whitespace-nowrap">Home & Lifestyle</li>
        <li class="whitespace-nowrap">Medicine</li>
        <li class="whitespace-nowrap">Sports & Outdoor</li>
        <li class="whitespace-nowrap">Baby's & Toys</li>
        <li class="whitespace-nowrap">Groceries & Pets</li>
        <li class="whitespace-nowrap">Health & Beauty</li>
      </ul>
    </div>
    <div class="pt-10 flex-1 flex justify-center">
      <div class="h-full w-full">
        <img src="/assets/banner.png" class="h-full object-cover w-full" />
      </div>
    </div>
  </div>
  <section class="mt-16 mb-8">
    <header class="flex gap-4 items-center text-secondary font-semibold">
      <div class="h-10 w-4 rounded-sm bg-secondary"></div>
      <div>Our products</div>
    </header>
    <h2 class="text-[32px] font-semibold mt-4 tracking-wide">
      Explore Our Products
    </h2>
    <div class="grid grid-cols-4 gap-8 mt-4">
      <article class="flex flex-col gap-4">
        <!-- image -->
        <div class="border bg-slate-100 p-4">
          <img
            src="/assets/products/boot-ang1.png"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- info -->
        <div class="space-y-1">
          <h3 class="text-[16px] font-medium">Boot Ang</h3>
          <div class="flex gap-2 items-center">
            <div class="text-[16px] font-medium text-secondary">$200</div>
            <div class="text-[16px] font-semibold">
                <!-- stars emoji -->
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
            </div>
            <div class="text-[16px] font-medium">(23)</div>
          </div>
        </div>
      </article>
      <article class="flex flex-col gap-4">
        <!-- image -->
        <div class="border bg-slate-100 p-4">
          <img
            src="/assets/products/boot-ang1.png"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- info -->
        <div class="space-y-1">
          <h3 class="text-[16px] font-medium">Boot Ang</h3>
          <div class="flex gap-2 items-center">
            <div class="text-[16px] font-medium text-secondary">$200</div>
            <div class="text-[16px] font-semibold">
                <!-- stars emoji -->
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
            </div>
            <div class="text-[16px] font-medium">(23)</div>
          </div>
        </div>
      </article>
      <article class="flex flex-col gap-4">
        <!-- image -->
        <div class="border bg-slate-100 p-4">
          <img
            src="/assets/products/boot-ang1.png"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- info -->
        <div class="space-y-1">
          <h3 class="text-[16px] font-medium">Boot Ang</h3>
          <div class="flex gap-2 items-center">
            <div class="text-[16px] font-medium text-secondary">$200</div>
            <div class="text-[16px] font-semibold">
                <!-- stars emoji -->
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
            </div>
            <div class="text-[16px] font-medium">(23)</div>
          </div>
        </div>
      </article>
      <article class="flex flex-col gap-4">
        <!-- image -->
        <div class="border bg-slate-100 p-4">
          <img
            src="/assets/products/boot-ang1.png"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- info -->
        <div class="space-y-1">
          <h3 class="text-[16px] font-medium">Boot Ang</h3>
          <div class="flex gap-2 items-center">
            <div class="text-[16px] font-medium text-secondary">$200</div>
            <div class="text-[16px] font-semibold">
                <!-- stars emoji -->
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
            </div>
            <div class="text-[16px] font-medium">(23)</div>
          </div>
        </div>
      </article>
      <article class="flex flex-col gap-4">
        <!-- image -->
        <div class="border bg-slate-100 p-4">
          <img
            src="/assets/products/boot-ang1.png"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- info -->
        <div class="space-y-1">
          <h3 class="text-[16px] font-medium">Boot Ang</h3>
          <div class="flex gap-2 items-center">
            <div class="text-[16px] font-medium text-secondary">$200</div>
            <div class="text-[16px] font-semibold">
                <!-- stars emoji -->
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
                <span>&#11088;</span>
            </div>
            <div class="text-[16px] font-medium">(23)</div>
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
<app-footer></app-footer>
