@if(product != null){
    <article class="border-1 p-2 border-round shadow-1">
        <div class="relative flex h-48 w-auto items-center justify-center sm:h-64">
           <div class="absolute top-3 rounded-full bg-yellow-500 px-2 border-round text-xs font-semibold leading-6">In Stock: {{product.quantityInStock}}</div>
           <img src={{product.pictureUrl}} alt="{{product.name}}" class="w-full"/>
        </div>
        <header class="relative p-2">
           <h3 role="button" class="text-sm font-semibold truncate text-heading">{{product.name}}</h3>
           <div class="relative flex align-items-center justify-content-between">
              <div class="relative"><del class="font-bold mr-1">$2.00</del><span class="text-sm">$1.60</span></div>
              <div class="gap-2 flex">
                  <a routerLink="/products/{{product.id}}">
                     <button pButton type="button" icon="pi pi-eye" class="p-button-outlined"></button>
                  </a>
                  <p-button label="Cart"></p-button>
              </div>
           </div>
        </header>
     </article>
}
@else{
   <div>
      <app-loading></app-loading>
   </div>
}