<header class="border-b-2 sticky top-0 bg-white z-10">
  <section class="bg-black text-white py-2 flex gap-2">
   <div class="container flex">
      <div class="flex-1">
          <div>
            <span>Call Us: +123 456 789</span>
          </div>
      </div>
      <div>
        English
      </div>
   </div>
  </section>
  <section class="container flex gap-2 items-center py-3">
    <div>
      <img src="/assets/logo.png" width="150" height="60" />
    </div>
    <div class="flex-1">
      <nav class="flex justify-center">
        <ul class="flex gap-8">
          <li><a href="#" class="hover:border-b-2 border-gray-400">Home</a></li>
          <li><a href="#" class="hover:border-b-2 border-gray-400">Contact</a></li>
          <li><a href="#" class="hover:border-b-2 border-gray-400">About</a></li>
          <li><a href="#" class="hover:border-b-2 border-gray-400">Sign In</a></li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center gap-3">
      <div class="flex items-center relative border bg-gray-50 rounded-lg">
        <input
          type="text"
          placeholder="Search"
          class="p-2 bg-gray-50"
        />
        <img
          src="/assets/icons/search.png"
          width="30"
          height="30"
          class="pr-2"
        />
      </div>
      <div>
        <div class="w-8 h-8 cursor-pointer">
          <img
            src="/assets/icons/Wishlist.png"
            class="w-full h-full object-cover"
            width="30"
            height="30"
          />
        </div>
      </div>
      <div>
        <div class="w-8 h-8 cursor-pointer">
          <img
            src="/assets/icons/cart.png"
            class="w-full h-full object-cover"
            width="30"
            height="30"
          />
        </div>
      </div>
      <div>
        <div class="w-8 h-8 cursor-pointer">
          <img
            src="/assets/icons/user.png"
            class="w-full h-full object-cover"
            width="30"
            height="30"
          />
        </div>
      </div>
    </div>
  </section>
</header>
