<footer class="footer">
    <ul class="flex gap-2">
      <a class="pi pi-facebook" href="https://www.facebook.com/uyledev/" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
      <a class="pi pi-github" href="https://github.com/UyLeQuoc" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
      <a class="pi pi-linkedin" href="https://www.linkedin.com/in/uyle-dev/" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" routerLink="/">Home</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/products">Products</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/test">Test</a></li>
    </ul>
    <p>&copy;2024 UyDev</p>
  </footer>