<footer class="footer bg-black text-white py-20">
  <div class="container grid grid-cols-5">
    <section class="flex flex-col gap-6">
      <h5 class="text-[20px] font-medium">UyDev</h5>
      <ul class="flex flex-col gap-2 text-[16px]">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </section>
    <section class="flex flex-col gap-6">
      <h5 class="text-[20px] font-medium">Support</h5>
      <ul class="flex flex-col gap-2 text-[16px]">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </section>
    <section class="flex flex-col gap-6">
      <h5 class="text-[20px] font-medium">Account</h5>
      <ul class="flex flex-col gap-2 text-[16px]">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </section>
    <section class="flex flex-col gap-6">
      <h5 class="text-[20px] font-medium">Quick Link</h5>
      <ul class="flex flex-col gap-2 text-[16px]">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </section>
    <section class="flex flex-col gap-6">
      <h5 class="text-[20px] font-medium">Download App</h5>
      <ul class="flex flex-col gap-2 text-[16px]">
        <h6 class="text-[12px] opacity-75">Save $3 with App New User Only</h6>
        <div class="flex gap-2">
          <div class="w-20 h-20">
            <img
              src="/assets/qr.jpg"
              alt="App Store"
              width="80"
              height="80"
              class="w-full object-cover"
            />
          </div>
          <div>
            <div>
              <img
                src="/assets/ggplay.png"
                alt="Google Play"
                class="h-full w-full object-cover"
                width="120"
                height="40"
              />
            </div>
            <div>
              <img
                src="/assets/appstore.png"
                alt="App Store"
                class="h-full w-full object-cover"
                width="120"
                height="40"
              />
            </div>
          </div>
        </div>
      </ul>
      <div>
        <ul class="flex gap-4">
          <li>
            <div>
              <img
                src="/assets/social-icons/Icon-Facebook.png"
                alt="Facebook"
                class="h-full object-cover"
                width="24"
                height="24"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="/assets/social-icons/Icon-Instagram.png"
                alt="instagram"
                class="h-full object-cover"
                width="24"
                height="24"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="/assets/social-icons/Icon-Linkedin.png"
                alt="Linkedin"
                class="h-full object-cover"
                width="24"
                height="24"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="/assets/social-icons/Icon-Twitter.png"
                alt="Twitter"
                class="h-full object-cover"
                width="24"
                height="24"
              />
            </div>
        </ul>
      </div>
    </section>
  </div>
  <!-- <ul class="flex gap-2">
      <a class="pi pi-facebook" href="https://www.facebook.com/uyledev/" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
      <a class="pi pi-github" href="https://github.com/UyLeQuoc" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
      <a class="pi pi-linkedin" href="https://www.linkedin.com/in/uyle-dev/" style="font-size: 2rem; text-decoration: none; color:white;" target="_blank"></a>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" routerLink="/">Home</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/products">Products</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="/test">Test</a></li>
    </ul>
    <p>&copy;2024 UyDev</p> -->
</footer>
