<div class="min-height-body">
   <p-toast></p-toast>
   <app-breadcrumb class="container"></app-breadcrumb>

@if(product != null){
    <article class=" p-2 grid mb-8 pb-8 container">
        <div class="relative flex h-48 items-center justify-center col-4 p-4">
           <div class="absolute top-3 rounded-full bg-yellow-500 px-2 border-round text-xs font-semibold leading-6">In Stock: {{product.quantityInStock}}</div>
           <img src={{product.pictureUrl}} alt="{{product.name}}" class="w-full"/>
        </div>
        <header class="relative p-4 col-8 flex gap-2 flex-column">
           <div>
            <h3 class="text-2xl font-semibold truncate text-heading">{{product.name}}</h3>
            <h5 class="text-sm truncate font-light">{{product.description}}</h5>
            <div class="flex gap-2 justify-content-between items-center">
               <h5 class="text-xl font-medium truncate text-heading">Brand: {{product.brand}}</h5>
               <h5 class="text-xl font-medium truncate text-heading">Type: {{product.type}}</h5>
            </div>
           </div>
           <div class="relative flex align-items-center justify-content-between gap-2 ">
              <div class="relative flex gap-2 align-items-center"><del class="font-bold mr-1 text-xl">$2.00</del><span class="text-sm">$1.60</span></div>
              <div class="gap-2 flex">
                  <p-button label="Add to Cart"></p-button>
              </div>
           </div>
        </header>
     </article>
}
@else{
   <div class="container flex justify-content-center align-items-center h-20rem">
      <app-loading></app-loading>
   </div>
}
</div>